:root{
    --bg-color: rgb(192, 214, 243);
    --font-family: arial;
    --padding: 10px;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);

    margin: auto;
    width: 500px;
}

a {
    text-decoration: none;
}

#nav {
    text-align: right;
    padding: 5px;
    border-bottom: 1px solid gray;
}

h1 {
    padding-bottom: 25px;
}

.list-group-item {
    list-style: none;

    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}
