:root{
     --bg-color: rgb(192, 214, 243);
     --font-family: arial;
     --padding: 10px;
}

*{
    font-family: var(--font-family)
}

header{
    text-align: end;
    max-width: 750px;
    margin: 20px auto 30px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}

header a{
    margin-top: 40px;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

a:visited{
    color: blue;
}

.container{
    max-width: 750px;
    margin: 0 auto;
    border-radius: 20px;
}

h1{
    margin-left: 10px;
}

#create-new-post-btn{
    display: block;
    text-align: end;
    margin-bottom: 15px;
    margin-right: 10px;
}

#create-new-post-btn input{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(214, 227, 243);
}

#create-new-post-btn input:hover{
    background-color: var(--bg-color)
}

.manage-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

thead{
    font-weight: bold;
    font-size: 16px;
    background-color: var(--bg-color);
}

td{
    border: 2px solid grey;
    padding: 15px 20px;
}