
#container {
    width: 900px;
    margin: 20px auto;
}

#blog-page-link {
    margin-left: 90%;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

label {
    margin-top: 20px;
    display: inline-block;
}

#submit {
    margin-top: 20px;
}